.loader{
  position: fixed;
  top: 0;
  left: 0;
  background: lightgrey;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disppear{
  animation: vanish 2s forwards;
}
@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}
.about{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.bienvenida{
	background-image: url(cielo.jpg);
	background-repeat: no-repeat;
	
     background-size: cover;
     margin-right: auto;
     min-height: unset;
     
}
 
.capa{
    position: fixed;
    width: 100%;
    height: 100vh;
    
    z-index: -1;
    top: 0;left: 0;
  }
  /*Estilos para el encabezado*/
  .header{
    width: 100%;
    height: 100px;
    position: relative;
    top: 0;left: 0;
  }
  .container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }
  .container .btn-menu, .logo{
    float: left;
    line-height:100px;
  }
  .container .btn-menu label{
    color: black;
    font-size: 25px;
    cursor: pointer;
  }
  .logo img{
    width: 120px;
    height: 40px;
    margin-top: 2px;
    margin-left: 10px;
    position: ;
  }
  .container .menu{
    float: right;
    line-height: 100px;
  }
  .container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
  }
  .container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
  }
  .container .menu a:hover{
    color: black;
  }

  /*Menù lateral*/
  #btn-menu{
    display: none;
  }
  .container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
  }
  #btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
  }
  .cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 25vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
  }
  #btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
  }
  .cont-menu nav{
    transform: translateY(15%);
  }
  .cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
    font-size: 15px;

  }
  .cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background:#ad73f5;
  }
  .cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
  
    cursor: pointer;
    font-size: 18px;
  }
  /*Fin de Menù lateral*/
.contenido{
	position: relative;
	width: 100%;
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -90px;
    top: -25px;
}
.contenido .texto{
	position: relative;
	max-width: 600px;
}
.contenido .texto h2{
	color: #333;
	font-size: 50px;
	line-height: 1.4em;
	font-weight: 500;
  margin-top: 50px;
}
.contenido .texto h2 span{
	color: #017143;
	font-size: 1.2em;
	font-weight: 900;
}
.contenido .texto p{
	color: black;
	font-size: 25px;
	margin-top: 30px;
  font-family: arial;
  text-align: justify;
}
.contenido .texto a{
	display: inline-block;
	margin-top: 20px;
	padding: 8px 20px;
	background:#017143 ;
	color: #fff;
	border-radius: 40px;
	font-weight:500 ;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 25px;
}
.contenido .imagenes{
	width: 600px;
	display: flex;
	justify-content: flex-end;
	padding-right: 150px;
	margin-top: 50px;
}
.contenido .imagenes img{
	max-width: 340px;
}
.iconos{
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
}
.iconos li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
	transition: 0.5s;
}
.iconos li:hover{
	transform: translateY(-15px);
}
.iconos li img{
	max-width: 60px;
}
.circulo{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 103%;
	background:#017143 ;
	clip-path: circle(600px at right 800px);
}
.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex:1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width:100%;
    border:1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top:50%; transform: translateY(-50%);
    font-size: 3rem;
    background:white;
    width:95%;
    padding:1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
    color: black;
}
.about .row .video-container h3{
  color: black;
}
.about .row .content{
    flex:1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#333;
}

.about .row .content p{
    font-size: 20px;
    color:white;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}
:root{
    --pink:#e84393;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:white;
}

.heading .span1{
    color:orange;
}
.heading span{
    color:hotpink;
}

.content p{
  color: white;
}
.content a{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 1rem;
    background:greenyellow;
    color:black;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.review .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .10rem;
    padding:3rem 2rem;
    position: relative;
    border:.1rem solid rgba(0,0,0,.1);
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom:3rem; right:3rem;
    font-size: 6rem;
    color:#eee;
}

.review .box-container .box .stars i{
    color:var(--pink);
    font-size: 2rem;
}

.review .box-container .box p{
    color:black;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    height:6rem;
    width:6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 2rem;
    color:darkblue;
}

.review .box-container .box .user span{
    font-size: 1.5rem;
    color:#999;
}
.team h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    margin-bottom: 30px;
    color: white;
}

.team h1 span{
    color: #fac031;
    margin-left: 15px;
    font-family: mv boli;
}



.team .team_box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 53%;
    height: 300px;
}

.team .team_box .profile{
    width: 400px;
    height: 250px;
    border-radius: 55%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    transition: 0.4s;
    margin-top: 80px;
}

.team .team_box .profile:hover{
    border-radius: 50px;
    height: 310px;
}

.team .team_box .profile img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    z-index: 2;
    transition: 0.4s;
}

.team .team_box .profile:hover img{
    border-radius: 50px;
    margin-top: -200px;
}

.team .team_box .profile .info{
    position: absolute;
    text-align: center;
    top: 35%;
    transition: 0.4s;
}

.team .team_box .profile:hover .info{
    top: 70%;
}

.team .team_box .profile .info .name{
    color: yellowgreen;
    margin-bottom: 15px;
    margin-top: -40px;
}

.team .team_box .profile .info .bio{
    width: 70%;
    text-align: center;
    margin: 0 auto 10px auto;
    color: white;
    font-size: 15px;
}

.team .team_box .profile .info .team_icon i{
    margin: 10px 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.team .team_box .profile .info .team_icon i:hover{
    color: #fac031;
}
.final{
  background-color: black;
  height: 500px;
}
.section-title{
  text-align: center;
  color: darkgreen;
  font-size: 50px;
} 
.app__description{
  color: black;
  text-align: center;
  font-size: 20px;
}
iframe{
  margin-left: 280px;
}

.scrolltop{
  margin-top: 100px;
}
.flecha img{
  width: 60px;
  margin-left: 1100px;
}