* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    background-color: #a9aaac;
    color: #fff;
    overflow-x: hidden;
}
.loader{
  position: fixed;
  top: 0;
  left: 0;
  background: lightgrey;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disppear{
  animation: vanish 1s forwards;
}
@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}
.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 20px;
     width: 1410px;
     margin-top: -25px;
     margin-left: -60px;
}
.cabecera{
    height: 30px;
    margin-right: 50px;
    margin-bottom: -20px;

}

nav {
    max-width: 1500px;
    margin: auto;
    background-color: #fa78eb;
    font-size: 20px;
    margin-top: -40px;
}
.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.menu-horizontal >li > a{
    display: block;
    padding: -1px -1px;
    color: white;
    text-decoration: none;
}
.menu-horizontal >li:hover{
background-color: hotpink;

}
.menu-horizontal li:hover .develop{
    display: block;
}


li {
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
    transition:  all .3s ease 0s;
}



.develop {
    position: relative;
}

.ul-second {
    display: none;
    position: absolute;
    margin-top: 1.4vw;
    width: 10px;
}

.ul-second > li {
    width: 154px;
    transform: translateX(-20px);
    border-bottom:solid 1px #fff ;
    text-align: center;
    background-color:royalblue;
    margin-left: -1px;
    padding: 15px 15px 15px 20px;
    color: black;
}

.ul-second > li:hover {
    background-color: #11faa8;
}

.develop:hover > .ul-second {
    display: block;
}

.ul-third {
    position: absolute;
    transform: translateX(100%);
    right: 0;
    top: 40%;
    display: none;
    background-color: #24252a;
}

.ul-third > li {
    padding: 1.2vw;
    border-bottom: solid 1px #fff;
}

.front:hover > .ul-third {
    display: block;
}

@media (max-width:900px) {
    .logo-danicodex {
        display: none;
    }
}
.izquierda{
    background: yellowgreen;
    height: 95vh;
    width: 50%;

}
.derecha{
    background: url(https://media.istockphoto.com/vectors/puts-voting-ballot-in-ballot-box-voting-and-election-concept-vector-id1192223740?k=20&m=1192223740&s=612x612&w=0&h=RGl3H6WS50m0MChRzaDvnMLCUULCamkdcHIDalTaG_M=);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 95vh;
}
#pantalla-dividida{
    display: flex;
}
.soft{
    color: purple;
}
h1{
    font-size: 60px;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
}
p{
    font-size: 20px;
}
   
p{
  font-size: 20px;
  padding: 2px;
  line-height: 40px;
  text-align: justify;
  margin-top: -20px;
}

.read-more-container{
    display: flex;
    flex-direction: column;
    color: #111;
    gap: 1rem;
}

.container{
    padding: 0rem;
    border-radius: 0px;
    line-height: 1.4rem;
   
}

.read-more-btn{
    color: #0984e3;
    display: block;
    width: 120px;
    font-family: arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
    margin: 1px 195px;
    padding: 3px 10px;
    background-color: blue;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-align: center;
    margin-left: 17px;
}

.read-more-text{
    display: none;
    font-size: 20px;
}

.read-more-text--show{
    display: inline;
}
.logo{
margin-top:-20px;
align-items: center;
margin-left: 150px;
}
#info {
    background: coral;
    color: black;
    text-align: justify;
    padding: 30px;
    font-family: arial;
    font-size: 5px;
    height: 10px;

}
.pg{
    font-size:20px ;
    line-height: 20px;
    text-align: center;

}
.copy{
    margin-top: 0px;
}
a{
    text-decoration: none;
    color: black;
}